/* 
	GENERAL 
*/

p { 
	margin-bottom: 0;
}

pre {
	overflow: visible;
}

.container {
	padding-left: 0;
}

.title {
	text-align: center;
}

.widget-head h1 span,
.widget-head h2 span,
.widget-body h2 span {
	font-weight: 900;
	font-size: 30px;
	/* text-decoration: underline;
	text-decoration-color: #ecc731; */
	padding-bottom: 5px;
	box-shadow: 1px 3px 0px -1px rgba(236,199,49,0.74);
	-webkit-box-shadow: 1px 3px 0px -1px rgba(236,199,49,0.74);
	-moz-box-shadow: 1px 3px 0px -1px rgba(236,199,49,0.74);
}
/* 
	SECOND NAV 
*/
.sec-nav {
	color: white;
	background-color: black;
}
.sec-nav .container {
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 0;
}

.sec-nav .p-sec-nav {
	display: inline-block;
}

.sec-nav .anchorIcons {
	padding-top: 10px;
}
.sec-nav .anchorIcons a:not(:last-child) span {
	padding-right: 13px;
}
.sec-nav .anchorIcons a:last-child span {
	padding-right: 27px;
}

.sec-nav .anchorIcons a:hover {
	text-decoration: none;
}

 .sec-nav .btn-outline-dark {
	color: #fff;
    border-color: #343a40;
}

.sec-nav .btn {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid;
    padding: 10px 25px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-dark:hover {
    color: #000;
    background-color: #ecc731;
    border-color: #ecc731;
}

/*
	MAIN NAV 
*/
.main-nav {
	color: #000;
	background-color: #ecc731;
}

.main-nav .container {
	padding-left: 0;
}
.main-nav .navbar {
	padding: 0;
}
.main-nav .nav-item .nav-link {
	padding: 14px 21px;
}
.main-nav .nav-item:first-child .nav-link {
	padding-left: 0;
}

.main-nav .navbar-nav .dropdown a:hover {
	color: #26211d;
}

.main-nav .navbar-nav #noPaddingLeft:hover,
.main-nav .navbar-nav .nav-item .nav-link:hover,
.main-nav .navbar-nav .dropdown .nav-link:focus, 
.main-nav .navbar-nav .dropdown .nav-link:hover {
    color: #fff;
}

.main-nav .btn-secondary:focus {
	box-shadow: none;
} 

.main-nav .navbar-nav .dropdown {
    position: relative;
    display: inline-block;
}

.main-nav .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: none;
    z-index: 1;
    margin: 0;
    /* transform: translateY(-2px); */
}

.main-nav .navbar-nav .dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.main-nav .navbar-nav .dropdown-menu a:hover {
	background-color: #ddd;
}

.main-nav .navbar-nav .dropdown:hover .dropdown-menu {
	display: block;
}

.main-nav .navbar-nav .dropdown:hover #navbarDropdwon {
	background-color: #3e8e41;
}

.main-nav .dropdown-toggle,
.main-nav .nav-link {
    color: #26211d;
    background-color: #6c757d;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    user-select: none;
    background-color: transparent;
    border: 0 transparent;
    padding: 0;
    font-size: 14px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-nav .btn-secondary {
	padding: 14px 21px;
}

.main-nav .form-control {
    padding: 10px 18px;
    height: 49px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #495057;
    background-color: transparent;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
}

.main-nav .form-control:focus {
    color: transparent;
    background-color: transparent;
    border-color: rgba(0,0,0,0.2);
    outline: none;
    box-shadow: none;
}

.main-nav .form-inline .btn {
	padding: 10px 18px;
    height: 49px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #495057;
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
}

.main-nav .form-inline .btn:focus {
    outline: none;
    box-shadow: none;
}
/* 
	SECTION 1 
*/
.section1 {
	background-color: #faf7f5;
}
.section1 .container {
	padding-top: 103px;
}

.section1 .widget-header .buttons {
	padding-bottom: 14px;
}
.section1 .btn-header {
	display: inline-block;
	color: #fff;
	background-color: #ed7439;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 7px 15px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section1 .btn-header:hover {
	color: #000;
    background-color: #ecc731;	
    text-decoration: none;
}

.section1 .widget-body h1 {
	margin-bottom: 0;
	text-align: left;
}

.section1 .widget-body h1:last-child {
	padding-bottom: 23px;
}
.section1 .btn-footer {
	display: inline-block;
	color: #000;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #000;
    padding: 11px 30px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section1 .btn-footer:hover {
	color: #000;
    background-color: #ecc731;	
    text-decoration: none;
}

.section1 .generic-text p {
	padding-bottom: 20px;
}

.section1 .bottomButton .buttons {
	padding-top: 20px;
}

/* 
	PSEUDO BUTTONS FOR CAROUSEL 
*/
.section1 .horizontalDots {
	display: inline-block;
} 
.section1 .dotButton {
	background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.section1 .dotButton:focus {
	outline: none;
}

.section1 .dotButton span {
	background-color: transparent;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	border: 2px solid #ecc731;
	margin: 85px 4px 35px;
	transition: background-color 0.6s ease;
}
.section1 .dotButton span:hover {
	background-color: #ecc731;
}
/* 
	SECTION 2 
*/

.section2 .row {
	display: -webkit-box;
	display: -webkit-flex;s
	display: -ms-flexbox;
	display:         flex;
}
.section2 .row > [class*='col-'] {
	 display: flex;
	 flex-direction: column; 
}

.section2 .widget-head {
	padding: 65px 0 61px;
}

.section2 .placeholder-section2 .title {
	margin-bottom: 25px;
}

.section2 .placeholder-section2 .placeholder img {
	margin-bottom: 10px
}

.section2 .placeholder-section2 .donations {
	margin: 10px 0 14px;
	text-align: center;
}

.section2 .placeholder-section2 .donations span,
.section2 .placeholder-section2 .donations .donationsSpan {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.section2 .placeholder-section2 .donations span:last-child {
	color: #80818b;
}

.section2 .placeholder-section2 .generic-text p,
.section2 .placeholder-section2 .buttons {
	text-align: center;
}
.section2 .placeholder-section2 .buttons {
	margin: 28px 0 43px;
}

.section2 .btn-footer {
	display: inline-block;
	color: #000;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #000;
    padding: 11px 30px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section2 .btn-footer:hover {
	color: #000;
    background-color: #ecc731;	
    text-decoration: none;
}

/* 
	PSEUDO BUTTONS FOR CAROUSEL 
*/
.section2 .horizontalDots {
	display: inline-block;
} 
.section2 .dotButton {
	background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.section2 .dotButton:focus {
	outline: none;
}

.section2 .dotButton span {
	background-color: transparent;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	border: 2px solid #4d4641;
	margin-bottom: 97px;
	margin-top: 0;
	margin-left: 4px;
	margin-right: 4px;
	transition: background-color 0.6s ease;
}
.section2 .dotButton span:hover {
	background-color: #4d4641;
}

/* 	
	SECTION 3
*/

.section3 {
	background-color: rgba(250, 247, 245, 0.7);
}

.section3 .container {
	padding-bottom: 130px;
	padding-top: 85px;
}

.section3 .widget-head .title {
	margin-bottom: 65px;
}

.section3 .widget-body ul {
	padding: 0;
	list-style-type: none;
	margin-bottom: 0;
}
.section3 .widget-body ul li {
	position: relative;
	display: inline-block;
	padding-left: 97px;
	margin-bottom: 42px;
}

.section3 .widget-body ul li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 68px;
	height: 68px;
	background-color: #ed7439;
	display: -ms-flexbox;
    display: flex;
	-ms-flex-pack: center;
	justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.section3 .widget-body ul li a:hover {
	text-decoration: none;
}
.section3 .widget-body ul li a .icon-home3 {
	font-size: 32px;
}

.section3 .widget-body .title {
	text-align: left;
	margin-bottom: 10px
}

.section3 .placeholderCentering {
	display: -ms-flexbox;
    display: flex;
  	-ms-flex-pack: center;
	justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

/* 
	SECTION 4
*/

.section4 {
	background-color: #faf7f5;
}

.section4 .container {
	padding-top: 100px;
	padding-bottom: 105px;
}

.section4 .widget-body h2 {
	text-align: left;
	margin-bottom: 30px;
}

.section4 .btn-footer {
	display: inline-block;
	color: #000;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #000;
    padding: 11px 30px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section4 .btn-footer:hover {
	color: #000;
    background-color: #ecc731;	
    text-decoration: none;
}

.section4 .generic-text p {
	padding-bottom: 18px;
}

.section4 .bottomButton .buttons {
	padding-top: 18px;
}
/* 	
	SECTION 5
*/

.section5 .container  {
	padding-top: 90px;
	padding-bottom: 150px;
}
.section5 .widget-head h2 {
	margin-bottom: 78px;
}

.section5 .widget-body h6 {
	text-align: left;
	margin-top: 28px;
}

.section5 .widget-body .date,
.section5 .widget-body h6 {
	margin-bottom: 14px
}

.section5 .buttons {
	margin-top: 38px;
}

.section5 .btn-footer {
	display: inline-block;
	color: #000;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #000;
    padding: 11px 30px;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.section5 .btn-footer:hover {
	color: #000;
    background-color: #ecc731;	
    text-decoration: none;
}
/* 	
	SECTION 6
*/

.section6 {
	background-color: #403e3c;
}

.section6 .container {
	padding-top: 102px;
	padding-bottom: 66px;	
}

.section6 .widget-head {
	margin-bottom: 66px;
}

.section6 .widget-body .generic-text p {
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-style: italic;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 61px;
}

.section6 .client-name .title h4 {
	margin-bottom: 0;
	color: #fff;
}
.section6 .client-name .title p {
	margin-bottom: 46px;
}

/* 
	PSEUDO BUTTONS FOR CAROUSEL 
*/
.section6 .horizontalDots {
	display: inline-block;
} 
.section6 .dotButton {
	background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.section6 .dotButton:focus {
	outline: none;
}

.section6 .dotButton span {
	background-color: transparent;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	border: 2px solid #8f8b89;
	margin: 3px 4px;
	transition: background-color 0.6s ease, border-color 0.6s ease;
}
.section6 .dotButton span:hover {
	background-color: #ecc731;
	border-color: #ecc731;
}

/* 	
	FOOTER
*/

.footer-section-1 {
	background-color: rgba(50, 48, 47, 1);
	color: #8f8b89;
}

.footer-section-1 .container {
	padding: 95px 0;
}

.footer-section-1 .widget-head .title,
.footer-section-1 .widget-head .specialTitle,
.footer-section-1 .widget-head-1 .title {
	margin-bottom: 50px
}

.footer-section-1 .widget-head-2 .title {
	margin-bottom: 30px
}

.footer-section-1 .widget-body .paraColOne {
	margin-bottom: 42px;
}

.footer-section-1 .widget-links ul {
	list-style-type: none;
	padding-left: 0;
}


.footer-section-1 .widget-links li {
	padding-bottom: 15px;
	padding-top: 15px;
}
.footer-section-1 .widget-links li:first-child { 
	padding-top: 0;	
}
.footer-section-1 .widget-links li:last-child {
	padding-bottom: 0;
}
.footer-section-1 .widget-links li > a {
	border-bottom-width: 0;
	display: block;
	position: relative;
	padding-left: 30px;
	color: #8f8b89;
}
.footer-section-1 .widget-links li > a:hover {
	color: #ecc731;
	font-weight: bold;
}

.footer-section-1 .widget-links li > a > span {
	position: absolute;
	top: -2px;
	left: 0;
	font-size: 20px;
}

.footer-section-1 .widget-body .charitySpan {
	color: #ecc731;
}
.footer-section-1 .widget-body .charitySpan:hover {
	font-weight: bold;
}
.footer-section-1 .widget-body a:hover {
	text-decoration: none;
}

.footer-section-1 .widget-body > p:nth-last-of-type(even) {
	margin-bottom: 0;
}
.footer-section-1 .widget-body > p:nth-child(2) {
	margin-bottom: 52px;
}

.footer-section-1 .widget-body-1 p {
	margin-bottom: 35px;
}

.footer-section-1 .form-control,
.footer-section-1 .btn {
	border-radius: 0;
	border: 2px solid;
}
.footer-section-1 .form-control {
	background-color: transparent;
	border-color: #595756;
	height: auto;
}
.footer-section-1 .btn {
	border-color: #ecc731;
	color: #ecc731;
}


.footer-section-1 .widget-body-2 a span {
	padding-right: 12px;
	padding-left: 12px;
}
.footer-section-1 .widget-body-2 a:first-child span { 
	padding-left: 0;	
}
.footer-section-1 .widget-body-2 a:last-child span {
	padding-right: 0;
}
.footer-section-1 .widget-body-2 a:hover {
	text-decoration: none;
}

.footer-section-2 {
	background-color: #2a2928;
}
.footer-section-2 .container {
	padding: 30px 0;
}
.footer-section-2 .footertext p {
	color: #575352;
}

.footer-section-2 .copyrightcode {
	padding-right: 4px;
}

.icon-home3:before {
  content: "\1f317";
}

.icon-home4:before {
  content: "\1f50d";
}

/* 	font-family
	font-size 
*/

body p {
	color: #7c7c7c;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.main-nav .navbar .nav-item a {
	color: #26211d;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}

body .section1 .widget-body .title strong {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	font-weight: 900;
}

body .section1 .widget-body h1 {
	color: #26211d;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

body .section2 .widget-head h2,
body .section3 .widget-head h2,
body .section4 .widget-body h2 {
	color: #000;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

body .section6 .widget-head h1 {
	color: #fff;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
}

body .section2 h6 {
	color: #000;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

body .section5 .widget-head h2 {
	color: #000;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}


.footer-section-1 .widget-head .title,
.footer-section-1 .widget-head-1 .title,
.footer-section-1 .widget-head-2 .title {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
}
.footer-section-1 .widget-head .specialTitle,
.sec-nav .p-sec-nav {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 28px;
}

/* 
	BOOTSTRAP FIXES
 */

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    font-weight: 900;
    cursor: pointer;
}

.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0 transparent;
}

/*  @media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 0;
	    padding-left: 0;
	}
} */

